<?xml version="1.0" encoding="UTF-8"?>
<Config>
	<Scheduler name="Scheduler" port="8000"/>
	<Elevators>
		<Elevator name="E1" port="6000" startFloor="1"/>
		<Elevator name="E2" port="6001" startFloor="1"/>
	</Elevators>
	<Floors>
		<Floor name="1" port="7000"/>
		<Floor name="2" port="7001"/>
	</Floors>
</Config>